# kate: encoding UTF-8; remove-trailing-space on; replace-trailing-space-save on; space-indent on; indent-width 2;
#
# Configuration file for gitarella

{
  repositories: [
    { id: "rubytag++", path: "/home/flame/devel/repos/rubytag++/.git" },
    { id: "overlay", path: "/var/portage/cvs/flame-overlay/.git", owner: "Flameeyes" }
  ],
  # uncomment the following to enable memcached support.
  # Requires Ruby-MemCache extension
  # , memcache-servers: [ "127.0.0.1:11211" ]
  logging: {
    enabled: true, # Anything but 'false' or 'no' enables logging
    output: "stderr", # Legal values: 'stderr'
    level: "error" # Legal values: 'debug', 'info', 'warn', 'error', 'fatal'
  },
  title: "gitarella"
}
